@charset "UTF-8";

@font-face {
  font-family: 'MiniFont';
  src:
    url('miniwebfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	font-family:'MiniFont', arial, helvetica;
	background-color:black;
	color:white;
}

h1, h2, h3, h4, h5 { color:white; font-family:'MiniFont', arial, helvetica; }