.socialIcons {
	background-image: url("../images/header-grey-grad.jpg");
	background-repeat: repeat-x;
	height: 35px;
	border: thin solid #333;
	padding: 0 10px;
	margin:10px 0;
}

.socialIcons > ul { margin-bottom: 0; padding-left:10px; }
.socialIcons i { font-size: 1.5em; padding-top: 5px; cursor: pointer; display:inline-block; }

.socialIcons > ul i:first-child { margin-right: 10px; }
/*.socialIcons > ul li:first-child { margin-left: 5px !important; }*/
.socialIcons > ul li:nth-child(2) { margin-left: 70px; }
.socialIcons > ul li:nth-child(3) { margin-left: 8px; }
.socialIcons > ul li:nth-child(4) { margin-left: 8px; }
.socialIcons > ul li:last-of-type { margin-left: 8px; }
